# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.RunnerDemo.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Gregory\Desktop\RunnerDemo\.idea\.idea.RunnerDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
